<footer>
  <div class="footer-container">

    <!-- Newsletter -->
    <div class="newsletter">
      <h4>Stay Updated with Binary (Labs)</h4>
      <p>Be the first to know about bootcamps, workshops, and tech insights from Binary (Labs).</p>
      <div class="subscribe">
        <input type="email" placeholder="Enter your email" />
        <button>Join</button>
      </div>
      <p >Join thousands of learners advancing their tech careers</p>
    </div>

    <!-- Address & Contacts -->
  <div class="footer-stacks">
    <div class="stack address">
      <h4>Address</h4>
      <p>Plot No 543, P.O Box 32485 Mbuyuni,</p>
      <p>Kunduchi Dar es Salaam, Tanzania</p>

      <h4 >Contacts</h4>
      <p>+255 758 828 363</p>
      <p>binary.africa@gmail.com</p>

      <div class="socials">
     
          <a href="#"><span class="fab fa-facebook-f"></span></a>
          <a href="#"><span class="fab fa-linkedin-in"></span></a>
          <a href="#"><span class="fab fa-twitter"></span></a>
          <a href="#"><span class="fab fa-instagram"></span></a>
      
      </div>
    </div>

    <!-- Useful Links -->
    <div class="stack links">
      <h4>Useful Links</h4>
      <a href="#">Our Journey</a>
      <a href="#">Programs</a>
      <a href="#">Labs</a>
      <a href="#">Careers</a>
      <a href="#">Contact</a>
    </div>

    <!-- Working Hours -->
    <div class="stack time">
      <h4>Working Hours</h4>
      <div>
        <p class="danger">Monday – Friday</p>
        <p class="muted">8:30am – 5:00pm</p>
      </div>
      <div>
        <p class="danger">Saturday</p>
        <p class="muted">8:30am – 12:00pm</p>
      </div>
      <div>
        <p class="danger">Closed on</p>
        <p class="muted">Sunday & Public holidays</p>
      </div>
    </div> 
  </div>

  </div>

  <div class="divider"></div>

  <div class="footer-bottom">
    <small>© 2025 Binary. All rights reserved.</small>
    <div class="policies">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Cookies</a>
    </div>
  </div>
</footer>