  <!-- HERO SECTION -->
    <section class="hero fade-in-hero" id="hero">
        <div class="container">
            
            <div class="hero-main">
                <!-- LEFT COLUMN: Content -->
                <div class="hero-content">
                    <h1>  <span class="hero-header">Binary (Labs) <span class="highlight">Retools</span> & <br>
                           <span class="highlight">Upskills</span>  Grad Students & <br>
                            Professionals</span>
                    </h1>
                    
                    <p class="hero-desc">
                        We are founded on a mission to RETOOL &  UPSKILL technical talent
                        and teams among graduates and professionals with the focus on 
                        real-world hands-on domain specific tech industry skills.
                    </p>

                   <div class="stats">
                <div class="stat-item">
                    <h2 data-target="500">0</h2>
                    <p>Graduates</p>
                </div>
                <div class="stat-item">
                    <h2 data-target="89">0</h2>
                    <p>Job Placement Rate</p>
                </div>
                <div class="stat-item">
                    <h2 data-target="50">0</h2>
                    <p>Projects Completed</p>
                </div>
            </div>
                </div>

                <!-- RIGHT COLUMN: Visuals -->
                <div class="hero-visual">
                    <img src="/assets/hero.svg" alt="Hero Image">
                </div>
            </div>
            <div class="stats-container">
            <!-- BOTTOM: Trusted By Marquee -->
            <div class="trusted-section">
                <div class="trusted-label">
                    <h3>Trusted By</h3>
                </div>
                <div class="marquee-wrapper">
                    <!-- The track moves left -->
                    <div class="marquee-track">
                        <!-- LOGO GROUP 1 -->
                        <img src="/assets/trusted/linux.png" alt="Logo">
                        <img src="/assets/trusted/internet.png" alt="Logo">
                        <img src="/assets/trusted/irabu.png"> <!-- Placeholder -->
                        <img src="/assets/trusted/internet.png" alt="Irabu">
                        <img src="/assets/trusted/python.png" alt="AWS">
                        
                        <!-- DUPLICATE LOGOS (For seamless infinite scroll) -->
                        <img src="/assets/trusted/linux.png" alt="Logo">
                        <img src="/assets/trusted/internet.png" alt="Logo">
                        <img src="/assets/trusted/irabu.png"> <!-- Placeholder -->
                        <img src="/assets/trusted/linux.png" alt="Irabu">
                        <img src="/assets/trusted/python.png" alt="AWS">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>