

    footer{
      background:var(--primary);
      color:var(--white);
      padding:64px 24px 24px;
    }

    .footer-container{
      max-width:1248px;
      margin:auto;
      display:grid;
      grid-template-columns:1.2fr 1fr 1fr 1fr;
      gap:48px;
    }

    h4{
      font-size:18px;
      font-weight:500;
      margin-bottom:16px;
    }

    p, a{
      font-size:14px;
      line-height:1.6;
      color:var(--white);
      text-decoration:none;
    }

    .muted{color:var(--accent)}
    .danger{color:var(--danger)}

    .stack{display:flex;flex-direction:column;gap:8px}
    .links a{
        opacity:.9;
    color: var(--white);}
    .links a:hover{opacity:1;text-decoration:underline}

    .socials{display:flex;gap:16px;margin-top:16px}
    .socials a{
      width:24px;height:24px;
      opacity:.8;
    }
    .socials a{
      color:var(--white);
        text-align:center;
    
      
    }
    .socials a:hover{opacity:1;cursor:pointer}
    .newsletter{
      display:flex;
      flex-direction:column;
      gap:18px;
    }

    .newsletter p{text-align:left}

    .subscribe{
      display:flex;
      gap:12px;
    }

    .subscribe input{
      flex:1;
      height:45px;
      border:1px solid var(--white);
      background:transparent;
      border-radius:8px;
      padding:0 12px;
      color:var(--white);
    }

    .subscribe button{
      height:45px;
      padding:0 24px;
      border:1px solid var(--white);
      background:transparent;
      color:var(--white);
      border-radius:8px;
      cursor:pointer;
    }

    .divider{
      margin:48px 0 16px;
      border-top:.5px solid rgba(205,219,254,.45);
    }

    .footer-bottom{
      max-width:1248px;
      margin:auto;
      display:flex;
      justify-content:space-between;
      align-items:center;
      gap:24px;
      flex-wrap:wrap;
    }

    .footer-bottom small{color:  rgba(205,219,254,.45);}

    .policies{display:flex;gap:24px;flex-wrap:wrap}
    .policies a{color: rgba(205,219,254,.45);}

    /* RESPONSIVE */
    @media(max-width:900px){
      .footer-container{grid-template-columns:1fr 1fr}
    }

    @media(max-width:520px){
      footer{padding:40px 16px 20px}
      .footer-container{grid-template-columns:1fr;text-align:center}
      .newsletter p{text-align:center}
      .subscribe{flex-direction:column}
      .footer-bottom{flex-direction:column;text-align:center}
    }