

    footer{
      background:var(--primary);
      color:var(--white);
      padding:64px 24px 24px;

    }

    .footer-container{
      max-width:1280px;
      margin:auto;
      display:grid;
      grid-template-columns:1fr 1.8fr ;
      gap:48px;
    }

    h4{
      font-size:var(--h3);
      font-weight:400;
    }

    .stack p, a{
      font-size:var(--p2);
      line-height:1.6;
      color:var(--white);
      text-decoration:none;
    }

    .muted{color:var(--accent)}
    .danger{color:var(--danger)}

    .footer-stacks{
      display:grid;
      grid-template-columns:repeat(3,minmax(0,1fr));
      gap:20px;
      margin-left: 5rem;
    }

    .stack{
      display:flex;
      flex-direction:column;
      gap:15px;
      align-items: normal;
    }

    .address{
      margin-left: 1rem;
      gap:10px;
    }
    .address h4{
      margin-bottom:3px;
    }
    
    .links a{
        opacity:.9;
    color: var(--white);}
    .links a:hover{opacity:1;text-decoration:underline}

    .socials{
      display:flex;
      gap:10px;
      margin-top:5px
    
    }
    .socials a{
      width:32px;
      height:32px;
      opacity:.8;
    }
    .socials a{
      color:var(--white);
        text-align:center;
    
      
    }
    .socials a:hover{opacity:1;cursor:pointer}
    .newsletter{
      display:flex;
      flex-direction:column;
      gap:10px;
    }

    .newsletter p{text-align:left}

    .subscribe{
      display:flex;
      gap:12px;
    }

    .subscribe input{
      flex:1;
      height:45px;
      border:1px solid var(--white);
      background:transparent;
      border-radius:8px;
      padding:0 12px;
      color:var(--white);
    }

    .subscribe button{
      height:45px;
      padding:0 24px;
      border:1px solid var(--white);
      background:transparent;
      color:var(--white);
      border-radius:8px;
      cursor:pointer;
    }

    .divider{
      margin:48px 0 16px;
      border-top:.5px solid rgba(205,219,254,.45);
    }

    .footer-bottom{
      max-width:1248px;
      margin:auto;
      display:flex;
      justify-content:space-between;
      align-items:center;
      gap:24px;
      flex-wrap:wrap;
    }

    .footer-bottom small{color:  rgba(205,219,254,.45);}

    .policies{display:flex;gap:24px;flex-wrap:wrap}
    .policies a{color: rgba(205,219,254,.45);}

    /* RESPONSIVE */
    @media(max-width:900px){
      .footer-container{grid-template-columns: 1fr}
      .footer-stacks{
        margin-left: 0;
      }
     
    }

    @media(max-width:520px){
      footer{padding:40px 16px 20px}
      .footer-container{
        grid-template-columns:repeat(1,minmax(0,1fr));
        gap:24px;
      }
      .footer-stacks{
        margin-left: 0;
        padding: auto 10px;
      }
      .stack p{
        font-size: 12px;
      }
      .newsletter p{text-align:left}
    
      .subscribe{flex-direction:column}
        .subscribe input{
        height:40px;  
        padding:1rem;
      }
      .footer-bottom{flex-direction:column;text-align:center}
    }