.about-us{
    display: flex;
    padding: 0.5rem;

}
.about-container{
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    height: 15rem;
    top: 2rem;
}
.about-us img{
    width: 20rem;
    height: 19rem;
    margin-left: 2rem;
}

.lined-heading {
    display: flex;
    align-items: center; /* Vertically centers the line with text */
    gap: 15px;           /* Space between line and text */
    
    font-size: 24px;     /* Adjust size as needed */
    font-weight: 700;    /* Bold font */
    color: var(--primary);
    margin-bottom: 0.9rem;
    line-height: 1;
}

/* The Red Line */
.lined-heading::before {
    content: "";
    display: block;
    width: 40px;         /* Length of the line */
    height: 4px;         /* Thickness of the line */
    background-color: var(--text);
    border-radius: 10px; /* Rounded edges on the line */
    flex-shrink: 0;      /* Prevents line from shrinking on small screens */
}
.about-container p{
    text-align: justify;
    font-size: 1rem;
    width: 35rem;
}
/* What we offer Sections */
.services{
    padding: 2rem;
    background-color: var(--primary);
}
.services .lined-heading{
    color: var(--white);
    justify-content: center;
}
.services-container{
    display: flex;
    background:var(--white);
    padding: 1.5rem;
   
}
.services-container .service-head{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.3;
    ;
}
.service-head img{
   width: 1.5rem;
   height: 1.4rem;
}
 .service-card{
    flex: 1;
    padding: 1rem;
   border-right: 2px solid #18263814;
}
.service-card p{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: var(--primary);
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: justify;
}

.details{
    color: var(--text);
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: justify;
    bottom: 0;

}
/* success Stories sections */
.success{
    padding: 1rem;

}
.success .lined-heading{
    justify-content: center;
    color: var(--primary);
    margin-bottom: 1rem;
}
.success-head{
    margin-top: 1rem;
}
.success-container{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.success-card h3{
    margin-top: 0.5rem;
    color: var(--primary);
    font-size: 1rem;
}
.success-card p{
    margin-top: 0.5rem;
    color: var(--primary);
    font-size: 0.8rem;
    line-height: 1.2;
    text-align: justify;
}
.testimonial{
    display: flex;
    padding: 1rem;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 8px;
    margin: 1rem;
    width: 40rem;
    height: 10rem;
}
.testimonial p{
    color: var(--white);
    
}
.testimonial img{
    width: 10rem;
    height: 9rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.author{
    margin-top: 1rem;
    font-size: 0.7rem;
    line-height: 1;
}

.testimonial-quote p{
    font-size: 0.4rem;
    font-style: italic;
    line-height: 1.6;
    text-align: justify;
    margbin-bottom: 1rem;
}
@media (max-width: 992px){
    .about-us{
        flex-direction: column;
        align-items: center;

    }
    .about-container{
        height: auto;
        padding: 1rem;
    }
    .about-container p{
        width: auto;
        font-size: medium;
    }
    .about-us img{
        display: none;
    }
    .services-container{
        flex-direction: column;
    }
    .service-card{
        border-right: none;
        border-bottom: 2px solid #18263814;
        margin-bottom: 1rem;
    }
    .testimonial{
        height: auto;
        align-items: center;
        text-align: center;
}
   .testimonial p{
        font-size: small;
    }
    
}
@media (max-width: 756px){
     .success-container{
        flex-direction: column;
    }

    .testimonial{
        flex-direction: column;
       flex-direction: column-reverse;
       height: auto;
         align-items: center;
         width: auto;
       
    }
    .testimonial img{
     
        margin-bottom: 1rem;
        background-color: var(--white);
        
    }
    .testimonial p{
        text-align: center;
        word-break:normal;
        text-align: justify;
    }
}
