.labs-section{
    margin: 0 auto;
    padding: 0 20px;
    
}
.labs-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 0;
    background: linear-gradient(180deg, rgba(182, 0, 0, 0.08) 0%, rgba(24, 38, 56, 0.08) 100%);
   
   
}

.labs-content{
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0 2rem 1rem 2rem;
}

 .labs-img{
    height: 32rem;
    border-radius: 34px;
}
.labs-img img{
    width: 28rem;
    height: 100%;
    border-radius: 34px;
    object-fit: cover;
}
.labs-about{
    padding-right: 2rem;
    max-width: 900px;

}
.labs-text{
   max-width: 700px;
}
.labs-text h3{
    font-size: var(--h3);
    width: 80%;
    margin-top: 1rem;
    padding-bottom: 0.5rem;

}

.labs-text .labs-p{
    font-size: 18px;
    line-height: 1.5;

    margin-left: 2rem;
}
.labs-values{
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 2;
    left: -4.5rem;
  
}
.values-list{
    background-color: var(--white);
    border-radius: 16px;
    padding:1rem;
    margin-top: 1rem;
    width:clamp(250px, 20vw, 300px);
    height: auto;
    
  
} 
.values-list h3{
    font-size: var(--h2);
    text-align: center;

}
.values-list p{
    font-size: var(--p2);
    color: var(--primary);
    text-align: left;
    line-height: 1.5;
    text-justify: inter-word;
}
.values-icon{
    display: flex;
    justify-content: center;
}
 .lined-heading{
    justify-content: center;
}
.labs-grid{
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    display: grid;


}


.lab-item,.story-item{
    display: flex;
    background-color: var(--primary);
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    border-radius: 12px;
    border: none;
    width: 100%;
    padding: 30px 0;

}
.lab-item p{
    color: white;
    padding: 10px;
    font-size: var(--p3);
    line-height: 1.5;
}
.lab-item h3{
    color: white;
    padding: 10px;
    font-size: var(--h2);
    margin-bottom: 0.5rem;
}

.labs-grid-row{
    width: 90rem;
}
.labs-grid-row img{
    width: 48%;
    height: auto;
    border: none;
    border-radius: 12px;
    margin: 0.4rem;

}

.top{
    width: 100%;
    border-radius: 12px;
    margin:0.4rem;
    padding: 1rem;

}

.labs-grid-row{
    display: grid;
    grid-template-rows: 1fr 1fr;
   gap: 1rem;
}
.labs-grid-row .right{
    display: flex;
    margin-bottom: 1rem;
}



.founder-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;

}
.founder-text h3{
      font-size: var(--h2);
     font-weight: 700;
     text-align: center;
     padding: 0.5rem 0;

}
.founder-text p{
    color: #FFFFFFCC;
    font-size: var(--p2);
    padding-top: 1rem;
    text-align: justify;
}
.small{
    font-style: italic;
    display: flex;
    margin-left: 0.5rem;
    color: rgb(185, 177, 177);
    justify-content: center;
}



/* --- founder (Image) --- */
.founder-text img{
    width: 130px;
    height: 130px;
    left: 20px;
    top: 0.5rem;
    border-radius: 50%; /* Makes it an Ellipse */
   
   
}
.socials-icons{
    gap: 2rem;
    display: flex;
}
.socials-icons i{
    margin-top: 1rem;
    font-size: 1rem;
    gap: 3rem;
    color: rgb(185, 177, 177);

}
.socials-icons a:hover {
    color: white;
    cursor: pointer;
}

/* Founders Slider Styles */
.founders-slider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.founders-slider .founder-text {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    width: 100%;
    padding: 2rem;
}

.founders-slider .founder-text.active {
    opacity: 1;
    position: relative;
}

/* our story and expertise */
.story-container
{ max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 0; 

}
.story-item{
    color: white;
   

}
.expertise-values-row{
    height:  100%;
    width: 100%;
    
    gap: 1rem;
}

.experts-section{
    background-color: #CDDBFE;
    padding: 1.5rem;
    margin-top: 1rem;
    width: 90%;
}
.stat-row{
    display: flex;
    margin-top: 0.5rem;
    gap: 2rem;
    height: auto;
    color: var(--primary);
}
.stat-info .big-number{
    font-size: var(--h1);
    font-weight: 700;
}
.stat-info{
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    }
    .avatar-circle{
        width: clamp(70px, 8vw, 95px);
        height: clamp(70px, 8vw, 100px);
}
.avatar-circle img{
    width: 100%;
    height: auto;
}

.story-item h4{
    font-size: var(--h3);
}
.values-section{
    /* Rectangle 24 */
background: linear-gradient(270deg, #182638 0%, #446B9E 100%);
border-radius: 16px;
margin: 1rem 0;
width: 90%;
height: auto;




}
.values-section ul{
    display: grid;
   grid-template-columns: 1fr 1fr;
    padding:0 0.7rem 1rem 0.7rem; ;
    gap: 8px;
}
.values-section li{
list-style: none;
background: #FFFFFF;
text-align: center;
padding: 11px 15px;
border-radius: 8px;
font-size: var(--p3);
color: #182638;

}

.team-container{
 display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
@media (max-width: 1024px) {

    .labs-container{
        height: auto;
        padding-bottom: 2rem;
    }
    .labs-text{
        max-width: 500px;
    }
    .labs-text h3{
        font-size: var(--h3);
    }
    .labs-text .labs-p{
        font-size: var(--p3);
    
    }
    .labs-values{
        gap: 4px;
    }
    .labs-about{
        max-width: 600px;
    }
    .labs-grid{
        flex-direction: column;
        width: 100%;
    }
    .labs-grid-row{
        width: 100%;
    }
    .labs-grid-row .right{
        flex-direction: column;
        align-items: center;
    }
    .values-list{
        width: 11rem;
        height: auto;
        gap: 4px;
        left: 40%;
    } 
    .values-list p{
        font-size: var(--p4);
    }
    .values-list h3{
        font-size: var(--p1);

    }
     .labs-grid{
        flex-direction: row;
     }
    .labs-grid-row img{
        width: 90%;
}
.experts-section{
    width: 100%;
   
}
.values-section{
    width: 100%;
 
}
.avatar-circle{
    width: clamp(50px, 8vw, 80px);
    height: clamp(50px, 8vw, 80px);
}
}
@media (max-width: 786px) {
    .labs-container{
        width: 100%;
        height: auto;
    }
    .labs-content{
        flex-direction: column;
    }
    .labs-img{
        display: none;
    }
    .labs-values{
        flex-direction: column;
        position: relative;
        left: 10px;

        gap:10px;
        padding: 2rem;
        
       

    }
    .values-list{
        padding: 1rem;
        width: 80%;
        height: auto;
    }
    .labs-grid{
        grid-template-columns: 1fr;
    }
    .labs-grid-row .right{
        grid-template-columns: 1fr;
        width: auto;
        align-self: center;
    }
    .stat-row{
        gap: 5px;
        width: 100%;
    }
    .big-number{
        font-size: 1.5rem;
    }
    .stat-label{
        font-size: 0.9rem;
        margin:0;
    }
    .avatar-circle{
    width: 50px;
    height: 50px;
    margin-bottom: 0.4rem;
    }
    .member-name{
        font-size: var(--p2);
        text-align: center;
    }
    .lab-item{
        width: 90%;
    
    }
    .lab-item img{
        width: 98%;
        height: auto;
    }
    .labs-grid-row{
        width: 100%;
    }
    
    .founder-content{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .founder .container{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .top{
        width: 90%;
        left: 0;
       
    }
    .founder-text{
        width: 100%;
      
        margin: 0;
    }
   .values li{
    font-size: var(--p4);

   }
   
}