.labs-container {
    display: flex;
    gap: 20px;
    background: linear-gradient(180deg, rgba(182, 0, 0, 0.08) 0%, rgba(24, 38, 56, 0.08) 100%);
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
   
}
.labs-content{
    display: flex;
    gap: 10px;
}

.labs-content .img img{
    width: 29rem;
    height: 32rem;
    padding: 1rem;
    border-radius: 34px;
}
.labs-about h3{
    font-size: var(--h2);
    margin-top: 1rem;
}
.labs-about{
    padding-right: 2rem;
}
.labs-about .labs-p{
    font-size: 18px;
    margin-left: 2rem;
}
.labs-values{
    display: flex;
    gap: 20px;
    position: absolute;
    left: 25%;
  
}
.values-list{
    background-color: var(--white);
    border-radius: 16px;
    padding: 0.5rem;
    margin-top: 1rem;
    width: clamp(15rem, 15vw, 18rem);
    height: clamp(15rem, 15vw, 18rem);
    
  
} 
.values-list h3{
    font-size: var(--h3);
    text-align: center;

}
.values-list p{
    font-size: var(--p3);
    text-align: left;
    line-height: 1.5;
    text-justify: inter-word;
}
.values-icon{
    display: flex;
    justify-content: center;
}
 .lined-heading{
    justify-content: center;
}
.labs-grid{
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    display: flex;
}


.lab-item,.story-item{
    display: flex;
    background-color: var(--primary);
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    border-radius: 12px;
    border: none;
    width: 100%;

}
.lab-item p{
    color: white;
    padding: 10px;
    font-size: var(--p2);
    line-height: 1.5;
}
.lab-item h3{
    color: white;
    padding: 10px;
    font-size: var(--h2);
    margin-bottom: 0.5rem;
}

.labs-grid-row{
    width: 90rem;
}
.labs-grid-row img{
    width: 48%;
    height: auto;
    border: none;
    border-radius: 12px;
    margin: 0.4rem;

}

.top{
    width: 50%;
    border-radius: 12px;
    margin:0.4rem;
    padding: 1rem;
}

.labs-grid-row{
    display: flex;
    flex-direction: column;
  
}
.labs-grid-row .right{
    display: flex;
    margin-bottom: 1rem;
}



.founder-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;

}
.founder-text h3{
      font-size: var(--h3);
     font-weight: 700;
     text-align: center;

}
.founder-text p{
    color: #FFFFFFCC;
    font-size: var(--p2);
}
.small{
    font-style: italic;
    display: flex;
    margin-left: 0.5rem;
    color: rgb(185, 177, 177);
    justify-content: center;
}



/* --- founder (Image) --- */
.founder-text img{
    width: 130px;
    height: 130px;
    left: 20px;
    top: 0.5rem;
    border-radius: 50%; /* Makes it an Ellipse */
   
   
}
.socials-icons{
    gap: 2rem;
    display: flex;
}
.socials-icons i{
    margin-top: 1rem;
    font-size: 1rem;
    gap: 3rem;
    color: rgb(185, 177, 177);

}
.socials-icons a:hover {
    color: white;
    cursor: pointer;
}

/* our story and expertise */


.story-item{
    color: white;

}
.expertise-values-row{
    height:  100%;
    width: 50%;
}

.experts-section{
    background-color: #CDDBFE;
    padding: 1rem;
    margin-top: 0.8rem;
    width: 90%;
}
.stat-row{
    display: flex;
    margin-top: 0.5rem;
    gap: 2rem;
    height: 8rem;
    color: var(--primary);
}
.stat-info .big-number{
    font-size: var(--h1);
    font-weight: 700;
}
.stat-info{
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.avatar-circle{
    width: clamp(50px, 6vw, 80px);
    height: clamp(50px, 6vw, 80px);
}
.avatar-circle img{
    width: 100%;
    height: auto;
}

.story-item h4{
    font-size: var(--h3);
}
.values-section{
    /* Rectangle 24 */
background: linear-gradient(270deg, #182638 0%, #446B9E 100%);
border-radius: 16px;
margin: 1rem 0;
width: 90%;
height: auto;




}
.values-section ul{
    display: grid;
   grid-template-columns: 1fr 1fr;
    padding:0 0.7rem 1rem 0.7rem; ;
    gap: 8px;
}
.values-section li{
list-style: none;
background: #FFFFFF;
text-align: center;
padding: 11px 15px;
border-radius: 8px;
font-size: var(--p3);
color: #182638;

}

.team-container{
 display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
@media (max-width: 1024px) {

    .labs-container{
        height: auto;
        padding-bottom: 2rem;
    }
    .labs-values{
        gap: 4px;
    }
    .labs-grid{
        flex-direction: column;
        width: 100%;
    }
    .labs-grid-row{
        width: 100%;
    }
    .labs-grid-row .right{
        flex-direction: column;
        align-items: center;
    }
    .values-list{
        width: 14rem;
        height: auto;
        gap: 4px;
        left: 40%;
    } 
    .values-list p{
        font-size: var(--p3);
    }
    .values-list h3{
        font-size: var(--h3);
    }
}
@media (max-width: 786px) {
    .labs-container{
        width: 100%;
        height: auto;
    }
    .labs-content{
        flex-direction: column;
    }
    .img{
        display: none;
    }
    .labs-values{
        flex-direction: column;
        position: relative;
        left: 10px;

        gap:10px;
        padding: 2rem;
        
       

    }
    .values-list{
        padding: 1rem;
        width: 80%;
        height: auto;
    }
    .labs-grid{
        flex-direction: column;
    }
    .labs-grid-row .right{
        flex-direction: column;
        align-self: center;
    }
    .stat-row{
        gap: 5px;
        width: 100%;
    }
    .big-number{
        font-size: 1.5rem;
    }
    .stat-label{
        font-size: 0.9rem;
        margin:0;
    }
    .avatar-circle{
    width: 50px;
    height: 50px;
    margin-bottom: 0.4rem;
    }
    .member-name{
        font-size: 14px;
    }
    .lab-item{
        width: 200%;
    }
    .lab-item img{
        width: 98%;
        height: auto;
    }
    .labs-grid-row{
        width: 100%;
    }
    
    .founder-content{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .founder .container{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .top{
        width: 100%;
        left: 0;
       
    }
    .founder-text{
        width: 100%;
      
        margin: 0;
    }
    .values{

    }
   
}    