.overview{
    margin: 2rem;

}
.overview h2{
    color: var(--primary);
    font-size: 1.5rem;
}

.overview .container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.overview p{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: var(--primary);
    font-size: 0.8rem;
    line-height: 1.6;
    text-align: justify;
}
.overview-content{
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
}
.overview-content h3{
    margin-top: 0.5rem;
    color: var(--primary);
    font-size: 1rem;
    justify-self: center;
}
.overview-content p{
    font-size: 0.8rem;
    line-height: 1.9;
    text-align: justify;
    padding: 1rem;
    
}



.card img{
    width: 45px;
    height: 45px;
    margin-top: 0.5rem;
    justify-self: center;
    
}

.overview-item{
    position: relative;
    width: 22rem;
    height: 20rem;
}
 .card {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 16px;
    background: white;
    box-sizing: border-box;
}

/* BACK CARD (tilted slightly) */
.card-back {
    background: var(--accent);
    transform: rotate(2deg);
    top: 6px;
    left: 0;

    /* shadow only on specific sides */
    box-shadow:
        -6px -6px 10px rgba(0,0,0,0.10),   /* top-left */
        6px 6px 10px rgba(0,0,0,0.12),     /* bottom-right */
        -6px 6px 10px rgba(0,0,0,0.08);    /* bottom-left */
}

/* FRONT CARD */
.card-front {
    background: white;
    z-index: 2;
    top:5px;
    
    border: 2px solid #fff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.10);
}


/* Responsive */
@media (max-width: 768px){
    .overview-content{
        flex-direction: column;
        align-items: center;
    }
}
