.overview{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(182, 0, 0, 0.08) 0%, rgba(24, 38, 56, 0.08) 100%);
    margin-top: 1rem;

}
.overview h2{
    color: var(--primary);
    font-size: var(--h2);
}
.overview .lined-heading{
    justify-content: center;
}

.overview .container{
    margin: 0 auto;
    padding: 2rem;
    height: 44rem;
    width: 100%;


}

.overview p{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary);
    font-size: var(--p1);
    line-height: 1.2;
    text-align: justify;
}
.overview-content{
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
   overflow:inherit;
}
.overview-content h3{
    margin-top: 0.5rem;
    color: var(--primary);
    font-size: var(--h3);
    justify-self: center;
}
.overview-content p{
    font-size: var(--p1);
    line-height: 1.6;
    text-align: justify;
    padding: 0.4rem;
    
}

.card-icon{
    display: flex;
    justify-content: center;
}


.card-icon img{
    width: 45px;
    height: 45px;
    margin: 0.2rem;
    display: block;
    justify-content: center;
    
}
.card p{
    font-size:var(--p2) ;
}

.overview-item{
    width: clamp(18rem, 20vw, 22rem);
    height:18rem ;
}
 .card {

    border-radius: 16px;
    background: var(--white);
    box-sizing: border-box;
    padding: 1rem;

}



/* FRONT CARD */

.border-bottom {
    border-bottom: 4px solid var(--accent);
}

.border-top {
    border-top: 4px solid var(--accent);
}

.overview-link{
    display: inline-block;
    margin-top: 0.1rem;
    text-decoration: none;
    color: var(--accent);
    font-weight: 400;
    font-size: var(--p2);
}

/* acction container */
.action{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background-color: var(--primary);
    margin: 2rem;
    border-radius: 8px;
    height: 18rem;
}
.action h2{
    color: var(--white);
    font-size: var(--h3);
    font: 300;
    padding: 0.5rem;
}
.action p{
    color: var(--white);
    font-size: var(--p2);
    padding: 0.5rem;
}
.action .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}
.action-img{
    width:80%;
    height: 100%;
}

.action-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;

}



@media (max-width: 1024px){
    .overview .container{
        height:auto;
        
    }
    .overview-item{
        height:auto ;
    }
    .overview-content{
        flex-wrap: wrap;
        justify-content: center;
    }
}


/* Responsive */
@media (max-width: 768px){
  .overview .container{
    height: auto;   
    padding: 1rem;
    }
    .overview-content{
        display:wrap;
        gap: 1rem;
        align-items: center;
      
    }
    .overview-item{
        height:auto ;
        width: 100%;
        
    }
    .card{
       margin-bottom: 1rem;
    }
    .card p{
        font-size:var(--p3) ;
    }
  .action{
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .action .container{
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
    .action-img{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .action-btn .btn{
        margin-bottom: 0.6rem;
    }
}

@media (max-width: 680px){
    .overview .container{
        padding: 1rem;
        height: auto;
    }  
    .overview-content h3{
        font-size: var(--h4);
    }
    .overview-content p{
        font-size: var(--p3);
    }
    .overview-item{
        width: 100%;
        height: auto;
    }
    .action h2{
        font-size: var(--h4);
    }
    .action p{
        font-size: var(--p3);
    }
}