.overview{
    margin: 2rem;

}
.overview h2{
    color: var(--primary);
    font-size: 1.5rem;
}
.overview .lined-heading{
    justify-content: center;
}

.overview .container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.overview p{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: var(--primary);
    font-size: 0.8rem;
    line-height: 1.6;
    text-align: justify;
}
.overview-content{
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
}
.overview-content h3{
    margin-top: 0.5rem;
    color: var(--primary);
    font-size: 1rem;
    justify-self: center;
}
.overview-content p{
    font-size: 0.8rem;
    line-height: 1.9;
    text-align: justify;
    padding: 0.4rem;
    
}

.card-icon{
    display: flex;
    justify-content: center;
}


.card-icon img{
    width: 45px;
    height: 45px;
    margin: 0.2rem;
    display: block;
    justify-content: center;
    
}

.overview-item{
    position: relative;
    width: 20rem;
    height: 17rem;
}
 .card {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 16px;
    background: white;
    box-sizing: border-box;
}

/* BACK CARD (tilted slightly) */
.card-back {
    background: var(--accent);
    transform: rotate(2deg);
    top: 6px;
    left: 0;

    /* shadow only on specific sides */
    box-shadow:
        -6px -6px 10px rgba(0,0,0,0.10),   /* top-left */
        6px 6px 10px rgba(0,0,0,0.12),     /* bottom-right */
        -6px 6px 10px rgba(0,0,0,0.08);    /* bottom-left */
}

/* FRONT CARD */
.card-front {
    background: white;
    z-index: 2;
    top:5px;
    
    border: 2px solid #fff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.10);
}
.overview-link{
    display: inline-block;
    margin-top: 0.1rem;
    text-decoration: none;
    color: var(--accent);
    font-weight: 400;
    font-size: 0.8rem;
}

/* acction container */
.action{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background-color: var(--primary);
    margin: 2rem;
    border-radius: 8px;
    height: 18rem;
}
.action h2{
    color: var(--white);
    font-size: 1rem;
    padding: 0.5rem;
}
.action p{
    color: var(--white);
    font-size: 0.8rem;
    padding: 0.5rem;
}
.action .container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.action-img{
    width: 40rem;
    height: 17rem;
    margin-right: 3rem;
}

.action-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;

}



@media (max-width: 1200px){
    .overview-content{
        flex-wrap: wrap;
        justify-content: center;
    }
}


/* Responsive */
@media (max-width: 768px){
    .overview-content{
        flex-direction: column;
        align-items: center;
    }
  .action{
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .action .container{
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
    .action-img{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .action-btn .btn{
        margin-bottom: 0.6rem;
    }
}
