/* --- Variables --- */
/* --- Section Layout --- */
.sub-hero-section {
    max-width: 1440px;
    margin: 0 auto;
}

.sub-hero-section .container {
    width: 100%;
    margin-left: 2rem;
}

.sub-hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Side-by-side layout */
    gap: 60px;
    align-items: center;
}

/* --- Left Side: Text --- */
.sub-hero-text h2 {
    font-size: var(--h1);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 25px;
    color: var(--primary);

}

 .highlight {
        background-color:var(--text);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}

.sub-hero-text p {
    font-size: var(--p0);
    color: var(--primary);
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 720px; /* Prevents text from stretching too wide */
}

/* Buttons */
.action-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 16px;
    font-weight: 600;
    font-size:var(--p3);
    transition: transform 0.2s ease;
    display: inline-block;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn-red {
    background-color: var(--accent);
    color: var(--white);
}

.btn-white {
    background-color: var(--white);
    color: var(--accent);
    border: 2px solid var(--accent);
   box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); 
}

/* --- Right Side: Image --- */
.sub-hero-image  {
    width: min(40rem,90%);
      display: flex;
        justify-content: center;
}

.sub-hero-image img {
    height: auto;
    /* Optional: Adds a subtle glow to the image if it's a transparent PNG */
    filter: drop-shadow(0 0 20px rgba(251, 191, 36, 0.1)); 
}
.skills-hero-image img {
    width: clamp(400px, 35vw, 500px);
}

/* Optional Floating Animation */

/* --- Responsive (Mobile) --- */
@media (max-width: 992px) {
    .sub-hero-section .container{
        margin: 0;
        padding-top: 4rem;
    }
    .sub-hero-grid {
        grid-template-columns: 1fr; /* Stack vertically */
        text-align: center;
        gap: 40px;
    }
     .sub-hero-text{
        margin: 0;
     }
    
    .sub-hero-text p {
        margin: 0; /* Center paragraph */
    }

    .action-buttons {
        justify-content: center;
    }

    .sub-hero-text h2 {
        font-size:var(--h3) ;
    }
    
    .sub-hero-image img {
        display: none; /* Make image slightly smaller on phones */
    }
}